* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sawarabi Mincho", serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: "Sawarabi Mincho", serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #333;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #007acc;
}

.project-detail {
    padding: 100px 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container h1 {
    font-size: 36px;
    color: #007acc;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 28px;
    color: #555;
    margin: 20px 0;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: left;
}

.btn2 {
    display: inline-block;
    background-color: #007acc;
    padding: 13px 30px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s;
    margin-top: 20px;
}

.btn2:hover {
    border: 2px solid #005f99;
    background-color: transparent;
    color: #005f99;
    cursor: pointer;
}

.gallery {
    margin-top: 40px;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-content img, .gallery-content video {
    max-width: 45%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
